<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <section id="header" class="header sticky-top shawdow-bottom">
    </section>

    <section id="homePage" class="be">
        <div class="container-lg container-fluid py-4">
            <div class="row d-flex justify-content-center">
                <div class="col col-lg-9 col-xl-8">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="../public/gallery/profile-icon.png" alt="Generic placeholder image"
                                    class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body"
                                    data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Edit profile
                                </button>
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>Chhorn Chakriya</h5>
                                <p>Tokyo, Japan</p>
                            </div>
                        </div>
                        <div class="p-4 text-black bg-body-tertiary">
                            <div class="d-flex justify-content-end text-center py-1 text-body">
                                <div>
                                    <p class="mb-1 h5">253</p>
                                    <p class="small text-muted mb-0">Photos</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">1026</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">478</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5  text-body">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4 bg-body-tertiary">
                                    <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in Tokyo</p>
                                    <p class="font-italic mb-0">Photographer</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                                <p class="lead fw-normal mb-0">Recent photos</p>
                                <p class="mb-0"><a onclick="goTo('gallery')" class="text-muted">Show all</a></p>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-2">
                                    <img src="../public/gallery/slide1.jpeg" alt="image 1" class="w-100 rounded-3">
                                </div>
                                <div class="col mb-2">
                                    <img src="../public/gallery/slide2.jpeg" alt="image 1" class="w-100 rounded-3">
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col">
                                    <img src="../public/gallery/slide3.jpeg" alt="image 1" class="w-100 rounded-3">
                                </div>
                                <div class="col">
                                    <img src="../public/gallery/slide1.jpeg" alt="image 1" class="w-100 rounded-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container-lg container-fluid">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                </ul>
                <p class="text-center text-secondary">© 2024 Company, Inc</p>
            </footer>
        </div>
    </section>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/swiper-element-bundle.min.js"></script>
    <script src="../public/js/chance.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>