<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="">
    <section id="header" class="header sticky-top shawdow-bottom">
    </section>

    <section>
        <div class="container-lg container-fluid" style="padding: 50px 1px;">
            <div class="page-title">
                <h3 class="text-center text-uppercase">My Gallery</h3>
                <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="collection pt-3">
                <div class="row bg-white">
                    <div class="col-6">
                        <div class="col-12">
                            <img src="../public/gallery/p2.jpeg" alt="">
                        </div>
                        <div class="col-12 row">
                            <div class="col-6">
                                <img src="../public/gallery/p1.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p4.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p3.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p5.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 row py-2">
                            <div class="col-6">
                                <img src="../public/gallery/p6.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p11.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p8.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p9.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <img src="../public/gallery/p10.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-3 row">
                        <div class="col-12">
                            <img src="../public/gallery/p11.jpeg" alt="">
                        </div>
                        <div class="col-12">
                            <img src="../public/gallery/p12.jpeg" alt="">
                        </div>
                        <div class="col-12">
                            <img src="../public/gallery/p17.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="../public/gallery/p16.jpeg" alt="">
                    </div>
                    <div class="col-3 row">
                        <div class="col-12">
                            <img src="../public/gallery/p14.jpeg" alt="">
                        </div>
                        <div class="col-12">
                            <img src="../public/gallery/p15.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-9">
                        <img src="../public/gallery/p18.jpeg" alt="">
                    </div>
                    <div class="col-3 row">
                        <div class="col-12 row">
                            <div class="col-6">
                                <img src="../public/gallery/p19.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p20.jpeg" alt="">
                            </div>
                            <div class="col-12">
                                <img src="../public/gallery/p21.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <img src="../public/gallery/p23.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-3 row">
                        <div class="col-12">
                            <img src="../public/gallery/p24.jpeg" alt="">
                        </div>
                        <div class="col-12 row">
                            <div class="col-6">
                                <img src="../public/gallery/p25.jpeg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="../public/gallery/p26.jpeg" alt="">
                            </div>
                            <div class="col-12">
                                <img src="../public/gallery/p28.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <img src="../public/gallery/p29.jpeg" alt="">
                    </div>
                    <div class="col-6">
                        <img src="../public/gallery/p33.jpeg" alt="">
                    </div>
                    <div class="col-6">
                        <img src="../public/gallery/p24.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <h1>The End.</h1>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container-lg container-fluid">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                </ul>
                <p class="text-center text-secondary">© 2024 Company, Inc</p>
            </footer>
        </div>
    </section>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/swiper-element-bundle.min.js"></script>
    <script src="../public/js/chance.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>