<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="">
    <section id="header" class="header sticky-top shawdow-bottom"></section>

    <section id="landing-page">
        <div class="container-lg container-fluid d-flex pt-2  justify-content-center align-items-center">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="../public/gallery/slide1.jpeg" width="100%" alt="">
                        </div>
                        <div class="slide-description right bottom">
                            <div class="title" data-swiper-parallax="-300">Nature's Harmony by the Lake.</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                    They have abandoned leaves to reduce loss of water by transpiration, and their stems are swollen with stored
                                    water.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="../public/gallery/slide3.jpeg" width="100%" alt="">
                        </div>
                        <div class="slide-description left bottom">
                            <div class="title" data-swiper-parallax="-300">Graceful Stalks Under Azure Skies</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                    The scene is dominated by tall, elegant stalks of grass or wildflowers gently swaying in a soft breeze. These
                                    stalks stand proudly yet delicately, their slender forms silhouetted against an expansive azure sky.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="../public/gallery/slide2.jpeg" width="100%" alt="">
                        </div>
                        <div class="slide-description right bottom">
                            <div class="title" data-swiper-parallax="-300">A Symphony of Red Leaves.</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                    The scene is an orchestra of nature where red leaves take center stage, their colors blazing like a symphony of
                                    sound rendered in light and form. Each leaf is a note, contributing to a rich composition of textures and hues.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="homePage" class="be">
        <div class="container-lg container-fluid py-4">
            <div class="text-center">
                <h2>Collection</h2>
            </div>
            <div class="image-wrapper row mt-2">
                <div class="col-12 col-md-5 row p-15">
                    <div class="text-center">
                        <h5 class="photo-title"></h5>
                    </div>
                    <div class="photo-container">
                        <div class="text-start">
                            <p class="photo-description"></p>
                        </div>
                        <img src="../public/gallery/p2.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-7 row align-items-center">
                    <div class="col-6 col-md-8 p-15">
                        <div class="photo-container mt-3">
                            <img src="../public/gallery/p1.jpeg">
                        </div>
                    </div>
                    <div class="col-6 col-md-4 p-15">
                        <div class="text-center">
                            <h5 class="photo-title"></h5>
                        </div>
                        <div class="text-start">
                            <p class="photo-description"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-15 row flex-row-reverse justify-content-end">
                    <div class="col-12 col-md-10 d-flex align-items-end">
                        <div class="">
                            <h5 class="photo-title"></h5>
                            <p class="photo-description"></p>
                        </div>
                    </div>
                    <div class="col-8 col-md-12 p-15">
                        <div class="photo-container">
                            <img src="../public/gallery/p23.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-8 p-15">
                    <div class="photo-container">
                        <img src="../public/gallery/p5.jpeg" alt="">
                        <div class="inner-description bottom">
                            <p class="photo-description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 position-relative">
                    <img alt="Person walking on grass" class="img-fluid" src="../public/gallery/p6.jpeg" />
                    <div class="position-absolute text-white" style="bottom: 16px; left: 16px;">
                        <p class="h4 text-white">わたしの世界を</p>
                        <p class="h4">変えたモノ</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6 mb-4">
                            <img alt="Couple walking on a pier" class="img-fluid" src="../public/gallery/p17.jpeg" />
                        </div>
                        <div class="col-6 mb-4">
                            <img alt="Flowers in bloom" class="img-fluid" src="../public/gallery/p18.jpeg" />
                        </div>
                        <div class="col-6 mb-4">
                            <img alt="Hanging light bulb" class="img-fluid" src="../public/gallery/p12.jpeg" />
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <div>
                                <p class="h5">カメラの説明文</p>
                                <p class="small">カメラの説明文がここに入ります。</p>
                            </div>
                            <img alt="Camera on a table" class="img-fluid" src="../public/gallery/p9.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <p class="h5">撮る前から嬉しい</p>
                    <p class="h5">本物志向の佇まい</p>
                    <p class="small mt-2">カメラの説明文がここに入ります。カメラの説明文がここに入ります。カメラの説明文がここに入ります。</p>
                    <img alt="Camera on a table with plants" class="img-fluid mt-4" src="../public/gallery/p13.jpeg" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6 mb-4">
                            <img alt="Person holding a camera" class="img-fluid" src="../public/gallery/p8.jpeg" />
                        </div>
                        <div class="col-6 mb-4">
                            <img alt="Person taking a photo" class="img-fluid" src="../public/gallery/p2.jpeg" />
                        </div>
                        <div class="col-6 mb-4">
                            <img alt="Person holding a camera" class="img-fluid" src="../public/gallery/p4.jpeg" />
                        </div>
                        <div class="col-6 mb-4">
                            <img alt="Person taking a photo by the sea" class="img-fluid" src="../public/gallery/p7.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container-lg container-fluid">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                </ul>
                <p class="text-center text-secondary">© 2024 Company, Inc</p>
            </footer>
        </div>
    </section>

    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/swiper-bundle.min.js"></script>
    <script src="../public/js/chance.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/script.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            effect: 'fade',
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            loop: true,
            parallax: true,
            speed: 1000,
        });
    </script>
</body>

</html>